<section data-ng-controller="TransactionsController" data-ng-init="transactionDate = new Date()">
    <div class="page-header">
        <h1>New Transaction</h1>
        <ol class="breadcrumb small">
            <li><a data-ng-href="#!/accounts">Accounts</a></li>
            <li><a data-ng-href="#!/accounts/{{account._id}}" data-ng-bind="account.name + ' ' + (account.balance | currency)"></a></li>
            <li data-ng-bind="'New Transaction'"></li>
        </ol>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <form class="form-horizontal" data-ng-submit="create()" novalidate>
                    <div class="alert alert-danger" role="alert" data-ng-show="error">
                        <i style="font-size: 1.5em; margin-right: 1em;" class=" glyphicon glyphicon-remove-sign"></i><strong data-ng-bind="error"></strong>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="businessName">Description</label>
                        <div class="controls col-sm-10">
                            <input type="text" data-ng-model="businessName" id="businessName" class="form-control" placeholder="(e.g. the Business Name)" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="amount">Amount</label>
                        <div class="controls col-sm-2">
                            <input type="text" data-ng-model="amount" id="amount" class="form-control text-right" placeholder="$0.00" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="transactionDate">Transaction Date</label>
                        <div class="controls col-sm-3">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="transactionDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="deposit">Transaction Type</label>
                        <div class="controls col-sm-3">
                            <select data-ng-model="transactionType" id="transactionType" class="form-control">
                                <option value="">Select a Type</option>
                                <option value="DEPOSIT">Deposit</option>
                                <option value="DEBIT">Debit</option>
                                <option value="CREDIT_CARD">Credit Card</option>
                                <option value="CHECK">Check</option>
                                <option value="ATM_WITHDRAWAL">ATM Withdrawal</option>
                                <option value="WITHDRAWAL">Cash Withdrawal</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-8 col-sm-4 text-right">
                            <button type="submit" class="btn btn-primary">Create Transaction</button>
                            <a class="btn btn-default" data-ng-href="#!/accounts/{{account._id}}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>